<div class="container-fluid mt-3">
  <div class="row">
    <div class="col-sm-12 col-md-8 col-lg-6 mx-auto text-center">
      <h1 class="display-1">About</h1>
      <p>Nagano Coffeeは1996年創業のコーヒー専門店です。<br>
      オーナーが自ら世界中のコーヒー農園に赴き、選びぬかれた<br>
      極上のコーヒー豆だけを使用し、店内焙煎で新鮮なまま提供しております。<br>
      インターネットからのご注文でも、とれたての状態でお届けいたします。<br>
      全国へ発送可能ですので、「いつ」でも「どこ」でもご注文いただけます。<br>
      ぜひご注文ください。</p>

      <%= image_tag "coffeeabout.jpg", class: "w-100 rounded" %>
    </div>
  </div>
</div>