<div class="container-fluid">
  <div class="text-center mx-auto mt-5">
    <h3 class="mt-5 mb-3">ご注文ありがとうございました！</h3>
    <%= link_to public_path, class: "btn btn-dark" do %> Back to Index <% end %>
  </div>
</div>